* {
    box-sizing: border-box;
    padding: 0;
    margin : 0;
}

html,body { 
    width: 100%;
    height : 100vh;
}


.main {
    width: 100%;
    height: 100%;
    display: flex;
}

.container {

    display: none;
    margin: auto;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    overflow: hidden;
    background-color: #f4f4f4;
    position:relative;
}

.container * {
    position: absolute;
}


#clickthru {
    width: 100%;
    height : 100%;
}

.border {
    width: 100%;
    height: 100%;
    border : 1px solid #9e9e9e;
    pointer-events: none;
}

.col-cont {
    display: none;
    width: 100%;
    height: 100%;
    top : 0;
    left : 0;
}

.universal-cont {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
}


.questions {
    width: 100%;
    height : 100%;
    max-width: 1200px;
    color : white;
} 

.question-cont {
    width: 100%;
    height : 100%;
}

.question-div {
    width: 80%;
    height : 20%;
    top : 10%;
    left : 0;
    right : 0;
    margin: 0 auto;
    /* background-color: aqua; */
}
.options-div {
    top : 25%;
    width : 100%;
    margin: 0 auto;
    height : 50%;
    /* background-color: #cecece; */
}

.options-div ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.options-div ul li {

    position: relative !important;
    border: 1px solid #ccc;
    padding: 10px;
    list-style-type: none;
    /* background-color: aliceblue; */
}

.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}

.options-div ul li:hover {
    background-color: #ff9999;
}

.active {
    background-color: yellow !important;
}


.btn-div {
    height : 8.5%;
    width: 47.9%;
    left : 0;
    right : 0;
    margin : 0 auto;

    bottom : 12%;
}

.btn-submit-1 {
    background: url('images/submit.png') center center no-repeat;
    background-size: contain;
}
.btn-submit-2 {
    background: url('images/submit2.png') center center no-repeat;
    background-size: contain;
}
.btn-submit-3 {
    background: url('images/submit3.png') center center no-repeat;
    background-size: contain;
}


#end {
    display: none;
    width: 100%;
    height : 100%;
}
.end-img {
    width: 100%;
    height : 100%;
}
.img-txt {
    width: 100%;
    height : 100%;
}

#collapsed-container {
    width: 320px;
    height : 250px;
    position: absolute;
}

.pbar-cont {
    margin: auto;
    width : 30%;
    max-width: 180px;
    height : 5px;
    border-radius: 5px;
    background-color: #ccc;
    overflow: hidden;
}
.pbar {
    width: 5%;
    height : 100%;
    background-color:blueviolet ;
}

.bg-col {
    width: 100%;
    height : 100%;
}
.txt-col {

    width: 62%;   
    height : 70%;
    top : 0;
    bottom : 0;
    margin: auto 0;
    padding : 0 10px;
    line-height: 17px;
    color : white;
    font-size: 13px;
}

.cte {
    width: 100%;
    height : 100%;
}

.cte-1 {
    background: url('images/cte.png') center center no-repeat;
    background-size: contain;
}
.cte-2 {
    background: url('images/cte2.png') center center no-repeat;
    background-size: contain;
}
.cte-3 {
    background: url('images/cte3.png') center center no-repeat;
    background-size: contain;
}

.bg-col-1 {
    background: url('images/bg-col.png') center center no-repeat;
    background-size: contain;
}
.bg-col-2 {
    background: url('images/bg-col2.png') center center no-repeat;
    background-size: contain;
}
.bg-col-3 {
    background: url('images/bg-col3.png') center center no-repeat;
    background-size: contain;
}

.bg-1 {
    background: url('images/bg.png') center center no-repeat;
    background-size: contain;
}
.bg-2 {
    background: url('images/bg2.png') center center no-repeat;
    background-size: contain;
}
.bg-3 {
    background: url('images/bg3.png') center center no-repeat;
    background-size: contain;
}

.close-btn {
    top :  1%;
    right : 2.2%;
    width:  4.5%;
    height : 4%;
    background: url('images/close.png') center center no-repeat;
    background-size: contain;
    display: none;
}

.bg {
    width: 100%;
    height : 100%
}